.p-btn-fill {
  width: 150px;
  height: 50px;
  position: relative;
  // border: 1px solid #eee;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  color: $midnight;
  &::before, &::after {
    clip: rect(0,0,50px,0);
  }
  &::before {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    content: attr(data-text);
    color: $azureblue;
    line-height: 50px;
  }
  &::after {
    width: 80%;
    height: 100%;
    position: absolute;
    bottom: 10px;
    content: '';
    border-bottom: 1px solid $azureblue;
  }
  &:hover, &:hover::before, &:hover::after {
    animation-name: fillin;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
}

@keyframes fillin {
  to {
    clip: rect(0,150px,100px,0);
  }
}
