.p-btn-bite {
  &__outer {
    width: 160px;
    height: 160px;
    overflow: hidden;
  }
  width: 150px;
  height: 150px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #BB9471;
  color: #A37A56;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  &::before {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 4px;
    left: 4px;
    content: '';
    border-radius: 50%;
    background-color: transparent;
    border: 5px dotted #A37A56;
  }
  &::after {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -100px;
    right: 0;
    content: '';
    border-radius: 50%;
    background-color: white;
    transition-duration: .5s;
    transition-timing-function: steps(2);
  }
  &:hover {
    &::after{
      top: -50px;
    }
  }
  &:visited {
    &::after{
      top: -50px;
    }
  }
}
