.p-btn-flown {
  width: 150px;
  height: 50px;
  position: relative;
  padding-left: 35px;
  border: 3px solid #ddd;
  box-sizing: border-box;
  color: $midnight;
  font-weight: bold;
  &::before {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    content: '';
    background: $midnight;
    border-radius: 3px;
  }
  &:hover {
    &::before {
      animation-name: flown;
      animation-duration: .5s;
      animation-fill-mode: both;
      animation-timing-function: linear;
      animation-iteration-count: 1;
    }
  }
}

@keyframes flown {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  25% {
    transform: translate3d(-20px, -20px, 0);
    opacity: .5;
  }
  100% {
    transform: translate3d(-60px, -35px, 0);
    opacity: 0;
  }
}
