.p-btn-doors {
  width: 150px;
  height: 100px;
  position: relative;
  color: $midnight;
  font-weight: bold;
  box-shadow: inset 0 0 5px gray;
  perspective: 400px;
  transform-style: preserve-3d;
  &::before, &::after {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    content: '';
    background-color: #996f5c;
    transition: .5s;
    background-image: url('../assets/books.png');
    background-size: 50px;
    background-repeat: no-repeat;
  }
  &::before {
    left: 0;
    transform-origin: left;
    background-position: right -25px center;
  }
  &::after {
    right: 0;
    transform-origin: right;
    background-position: left -25px center;
  }
  &:hover {
    &::before {
      transform: rotateY(-180deg);
    }
    &::after {
      transform: rotateY(180deg);
    }
  }
}
