.p-btn-solided {
  width: 150px;
  height: 70px;
  position: relative;
  background-color: #4588e6;
  border-bottom: 4px solid $midnight;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  border-bottom: 5px solid #264b80;
  border-right: 5px solid #3d79cc;
  &::before {
    width: 0;
    height: 0;
    position: absolute;
    bottom: -5px;
    left: -1px;
    content: " ";
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
  }
  &::after {
    width: 0;
    height: 0;
    position: absolute;
    top: -1px;
    right: -5px;
    content: " ";
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
  }
  &:active {
    margin-top: 5px;
    margin-left: 5px;
    border-bottom: 0;
    border-right: 0;
    &::before, &::after {
      border-bottom: transparent;
      border-right: transparent;
    }
  }
}
