.p-btn-stretch-image {
  width: 100px;
  height: 80px;
  display: block;
  position: relative;
  overflow: hidden;
  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: 0;
    content: '';
    background-image: url('../assets/pakutaso002.jpg');
    background-size: cover;
    background-position: center;
  }
  &::after {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    content: '';
    background-image: url('../assets/pakutaso001.jpg');
    background-size: cover;
    background-position: center;
  }
}

.p-btn-stretch-image {
  &::before {
    opacity: 1;
    transition-delay: .2s;
    transition-duration: 1s;
    transition-property: opacity;
    transition-timing-function: ease;
  }
  &::after {
    opacity: 0;
    transform: scale(1.1, 1.1);
    transform-origin: center;
    transition-delay: .2s;
    transition-duration: 1s;
    transition-property: transform, opacity;
    transition-timing-function: ease;
  }
  &:hover {
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
