.p-btn-camera-dark {
  width: 150px;
  height: 50px;
  position: relative;
  color: white;
  font-weight: bold;
  transition: .2s;
  overflow: hidden; // はみ出た平行四辺形をhiddenする
  &::before { // 平行四辺形を乗せているだけ。
    width: 120%; // ベースの四角を覆えればいい大きさ
    height: 100%;
    position: absolute;
    top: 0;
    left: -10%;
    z-index: -1;
    content: '';
    background-color: $midnight;
    transform: skewX(30deg) scale(1, 1); // 傾き。scaleはノルム
    transition: transform .2s;
  }
  &:hover {
    color: $midnight;
    &::before {
      transform: skewX(30deg) scale(0, 1);
    }
  }
}
