.p-btn-tag-image {
  width: 200px;
  height: 170px;
  position: relative;
  background-color: #87cefa;
  color: white;
  transition-duration: .3s;
  transition-timing-function:ease-out;
  &:hover {
    opacity: 0.8;
  }
  &::before {
    width: 100px;
    height: 80px;
    display: block;
    position: absolute;
    content: '';
    bottom: -10px;
    right: -10px;
    background-image: url('../assets/pakutaso001.jpg');
    background-size: cover;
  }
}
