.p-btn-shutter {
  width: 150px;
  height: 50px;
  position: relative;
  border-radius: 10px;
  color: $midnight;
  font-weight: bold;
  overflow: hidden;
  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    content: '';
    display: block;
    z-index: -1;
    background-color: $midnight;
    transition: .2s;
    transform: scale(0, 1);
  }
  &:hover {
    color: white;
    &::before {
      transform: scale(1, 1);
    }
  }
}
