.p-btn-mail {
  width: 140px;
  height: 50px;
  position: relative;
  padding-left: 10px;
  background-color: rgb(75, 75, 75);
  border-radius: 10px;
  color: #eee;
  font-weight: bold;
  overflow: hidden;
  &::before {
    width: 50px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background-image: url('../assets/mail-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: #eee;
    border-radius: 10px 0 0 10px;
    transition-property: background-position;
    transition-duration: .5s;
    padding-top: 10px;

    box-sizing: border-box;
  }
  &:hover {
    &::before {
      background-position:center 12px;
    }
  }
}
