.p-btn-emboss {
  height: 70px;
  width: 150px;
  background-color: #4588e6;
  border-radius: 10px;
  border-bottom: 4px solid $midnight;
  color: #296dcc;
  font-size: 20px;
  font-weight: 800;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  &:active {
    border-bottom: 0;
    border-top: 4px solid transparent;
  }
}
