.p-btn-light-white {
  width: 150px;
  height: 50px;
  position: relative;
  background-color: white;
  color: $midnight;
  font-weight: bold;
  border: 2px solid $midnight;
  box-sizing: border-box;
  overflow: hidden;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
  &::before {
    width: 30px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: -50px;
    content: '';
    opacity: 0.5;
    background-color: $midnight;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
    transform-origin: left;
    transform: skewX(-30deg);
  }
  &:hover {
    background-color: #e6e6ff;
    &::before {
      left: 200px;
    }
  }
}
