.p-btn-small {
  height: 50px;
  width: 50px;
  border: 2px solid $midnight;
  box-sizing: border-box;
  color: $midnight;
  font-weight: bold;
  transition: 1s ease;
  &:hover {
    border-radius: 25px;
  }
}
