.title {
  margin-bottom: 0;
  font-weight: normal;
  border-bottom: 2px solid #87cefa;
}

.dateBox {
}
.date {
  display: block;
}

.descBox {
}
.description {
  display: block;
  margin: 0 auto;
}

.baseBox {
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  align-items: center;
}

.elementsDesc {
  text-align: left;
}

.baseBox{
  margin-bottom: 20px;
}
