.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 150px;
}

.description {
  text-align: left;
}

.contents-section {
  margin: 10px 0;
}
