@import './_variables.scss';

.contents {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: $sky;
}

.halo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  // background: radial-gradient(circle farthest-side, white 30px, $sky 50px, $sky 170px, #fad0c8, #fafac8, #c8e9fa, $sky);
  background: radial-gradient(circle farthest-side, $sky 180px, #fad0c8, #fafac8, #c8e9fa, $sky);
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: rgba(230, 238, 255, 0.7);
}

.sun {
  width: 100px;
  height: 100px;
  background: radial-gradient(circle farthest-side, white, white, $sky);
}
