.title {
  margin-bottom: 0;
  font-weight: normal;
  border-bottom: 2px solid #87cefa;
}

.date-box {
  &_text {
    display: block;
  }
}

.desc-box {
  &_text {
    display: block;
    margin: 0 auto;
  }
}

.base-box {
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  align-items: center;
}

.elements-desc {
  text-align: left;
}

.base-box{
  margin-bottom: 20px;
}
