.title {
  margin-bottom: 0;
  font-weight: normal;
  border-bottom: 2px solid #87cefa;
}

.date-box {
  &_text {
    display: block;
  }
}

.desc-box {
  &_text {
    display: block;
    margin: 0 auto;
    text-align: left;
  }
}

.base-box {
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  align-items: center;
}

.contents {
  &__large {
    width: 100%;
  }
}

.contents-section {
  &__row {
    margin: 10px;
    display: flex;
    justify-content:space-evenly;
  }
}

.elements-desc {
  text-align: left;
}

.base-box{
  margin-bottom: 20px;
}
