@import '../../_variables.scss';

.p-balloon {
  position: relative;
  padding: 10px;
  border: 1px solid #eee;
  color: $midnight;
  &::before { // 吹き出しの三角
    position: absolute;
    z-index: 2;
    display: none;
    width: 0;
    height: 0;
    content: '';
    opacity: 0;
    color: rgba(0, 0, 0, .5);
    border: 5px solid transparent;
  }
  &::after { // 吹き出しの三角
    position: absolute;
    z-index: 1;
    display: none;
    padding: 5px 8px;
    content: attr(label);
    text-align: center;
    opacity: 0;
    color: #fff;
    border-radius: 3px;
    background-color: rgba(255, 0, 0, .5);
  }
  &:hover::before, &:hover::after,
  &:active::before, &:active::after,
  &:focus::before, &:focus::after {
    display: inline-block;
    animation-name: fadein;
    animation-duration: .4s;
    opacity: 1;
  }
  &__top:after {
    right: 0;
    left: 0;
    bottom: 100%;
    margin-bottom: 4px;
  }
  &__top:before {
    top: -4px;
    right: 50%;
    bottom: auto;
    margin-right: -5px;
    border-top-color: rgba(255, 0, 0, .5);
  }
}

/* animation */
@-webkit-keyframes fadein {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
