.p-blur-btn {
  overflow: hidden;
  img {
    width: 150px;
    height: 50px;
    object-fit: cover;
    object-position: 0 100%;
    filter:blur(5px);
    transition-duration: 1s;
    transition-timing-function: linear;
    &:hover {
      filter:none;
    }
  }
}
