.p-blur-btn {
  overflow: hidden;
  img {
    width: 150px;
    height: 50px;
    object-fit: cover;
    object-position: 0 100%;
    filter:blur(5px);
    transition-duration: 1s;
    transition-timing-function: linear;
    &:hover {
      filter:none;
    }
  }
}

.p-blur-btn__opacity {
  width: 150px;
  height: 50px;
  position: relative;
  overflow: hidden;
  color: white;
  font-weight: bold;
  z-index: 2;
  &:hover {
    .p-blur-btn__opacity__bg1 {
      opacity: 1;
      z-index: 3;
    }
    .p-blur-btn__opacity__bg2 {
      opacity: 0;
    }
  }
  &__bg1 {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-image: url('/static/img/sky.c12d10f.jpg');
    opacity: 0;
    background-size: cover;
    background-position: 0 100%;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    z-index: -1;
  }
  &__bg2 {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-image: url('/static/img/sky.c12d10f.jpg');
    background-size: cover;
    background-position: 0 100%;
    filter: blur(5px);
    opacity: 1;
    transition-duration: 1s;
    transition-timing-function: linear;
    z-index: -1;
  }
}
