.p-box-shadow-solid {
  position: relative;
  padding: 5px;
  font-weight: bold;
  color: $midnight;
  &::after {
    width: 100%;
    position: absolute;
    left: 12px;
    content: attr(text);
    color: #ddd;
    z-index: -1;
    transform:skewX(-60deg);
  }
}
