@import '../../_variables.scss';

.p-btn-middle {
  height: 50px;
  width: 150px;
  position: relative;
  color: $midnight;
  font-weight: bold;
  &::before, &::after {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    content: '';
    background: $midnight;
    transition: .5s ease;
  }
  &::before {
    bottom: 4px;
  }
  &::after {
    top: 4px;
  }
  &:hover {
    &::before, &::after{
      width: 100%;
      height: 2px;
      position: absolute;
      content: '';
      background: $midnight;
    }
    &::before {
      bottom: 0;
    }
    &::after {
      top: 0;
    }
  }
  &:active {
    color: white;
    background: $midnight;
  }
}
.p-btn-bar-middle {
  height: 50px;
  width: 150px;
  position: relative;
  border: 2px solid $midnight;
  box-sizing: border-box;
  color: $midnight;
  font-weight: bold;
  &::before {
    width: 10px;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: -12px;
    content: "";
    background-color: white;
    box-sizing: border-box;
    transition: .8s linear;
  }
  &:hover {
    margin-left: 0;
    &::before {
      left: 154px;
    }
  }
  &:active {
    color: white;
    background: $midnight;
  }
}

.p-btn-shadow {
  height: 70px;
  width: 150px;
  background-color: #0060e6;
  border-radius: 10px;
  border-bottom: 4px solid $midnight;
  color: $midnight;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  &:active {
    border-bottom: 0;
    border-top: 4px solid transparent;
  }
}

.p-btn-shutter {
  width: 150px;
  height: 50px;
  position: relative;
  border-radius: 10px;
  color: $midnight;
  font-weight: bold;
  overflow: hidden;
  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    content: '';
    display: block;
    z-index: -1;
    background-color: $midnight;
    transition: .2s;
    transform: scale(0, 1);
  }
  &:hover {
    color: white;
    &::before {
      transform: scale(1, 1);
    }
  }
}

.p-btn-camera {
  width: 150px;
  height: 50px;
  position: relative;
  border: 2px solid $midnight;
  box-sizing: border-box;
  color: $midnight;
  font-weight: bold;
  transition: .2s;
  overflow: hidden; // はみ出た平行四辺形をhiddenする
  &::before {
    width: 120%; // ベースの四角を覆えればいい大きさ
    height: 100%;
    position: absolute;
    top: 0;
    left: -10%;
    z-index: -1;
    content: '';
    background: $midnight;
    transform: skewX(-30deg) scale(0, 1); // 傾き。scaleはノルム
    transition: transform .2s;
  }
  &:hover {
    color: white;
    &::before {
      transform: skewX(-30deg) scale(1, 1);
    }
  }
}

.p-btn-camera2 {
  width: 150px;
  height: 50px;
  position: relative;
  color: white;
  font-weight: bold;
  transition: .2s;
  overflow: hidden; // はみ出た平行四辺形をhiddenする
  &::before { // 平行四辺形を乗せているだけ。
    width: 120%; // ベースの四角を覆えればいい大きさ
    height: 100%;
    position: absolute;
    top: 0;
    left: -10%;
    z-index: -1;
    content: '';
    background-color: $midnight;
    transform: skewX(30deg) scale(1, 1); // 傾き。scaleはノルム
    transition: transform .2s;
  }
  &:hover {
    color: $midnight;
    &::before {
      transform: skewX(30deg) scale(0, 1);
    }
  }
}

.p-btn-camera3 {
  width: 150px;
  height: 50px;
  position: relative;
  color: $midnight;
  font-weight: bold;
  transition: .2s;
  overflow: hidden; // はみ出た平行四辺形をhiddenする
  &::before, &::after {
    width: 120%; // ベースの四角を覆えればいい大きさ
    height: 100%;
    position: absolute;
    z-index: -1;
    content: '';
    background-color: $midnight;
    transform: skewX(-30deg) scale(0, 1); // 傾き。scaleはノルム
    transition: transform .2s;
  }
  &::before {
    top: 0;
    left: -20%;
    transform-origin: left;
  }
  &::after {
    top: 0;
    right: -20%;
    transform-origin: right;
  }
  &:hover {
    color: white;
    &::before, &::after  {
      transform: skewX(-120deg) scale(0.7, 1);
    }
  }
}
