.p-btn-curtain {
  height: 50px;
  width: 150px;
  position: relative;
  border: 2px solid midnightblue;
  font-weight: bold;
  color: midnightblue;
  box-sizing: border-box;
  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    content: '';
    display: block;
    z-index: -1;
    background-color: midnightblue;
    transition: .2s;
    transform-origin: top;
    transform: scale(1, 0);
  }
  &:hover {
    color: white;
    &::before {
      transform: scale(1, 1);
    }
  }
}
