@import '../../_variables.scss';

.p-btn-slidein-string {
  width: 100px;
  height: 50px;
  display: block;
  position: relative;
  font-weight: bold;
  color: $midnight;
  border: $midnight 1px solid;
  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: -14px;
    content: 'hover';
    color: $midnight;
  }
  &__text {
    height: 20px;
    width: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: translateX(-40px);
    opacity: 0;
  }
  &:hover {
    &::before {
      animation-name: fadeOut;
      animation-duration: 1.5s;
      animation-direction: alternate;
      animation-fill-mode: both;
      animation-iteration-count: 2;
      animation-timing-function: ease;
    }
  }
  &:hover &{
    &__text {
      animation-name: sladeIn;
      animation-delay: .5s;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-fill-mode: both;
      animation-iteration-count: 2;
      animation-timing-function: ease;
    }
  }
}

@keyframes sladeIn {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
