.p-middle-btn {
  height: 50px;
  width: 150px;
  position: relative;
  color: midnightblue;
  &::before, &::after {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    content: '';
    background: midnightblue;
    transition: .5s ease;
  }
  &::before {
    bottom: 4px;
  }
  &::after {
    top: 4px;
  }
  &:hover {
    &::before, &::after{
      width: 100%;
      height: 2px;
      position: absolute;
      content: '';
      background: midnightblue;
    }
    &::before {
      bottom: 0;
    }
    &::after {
      top: 0;
    }
  }
  &:active {
    color: white;
    background: midnightblue;
  }
}

.p-middle-cross-btn {
  &__outer {
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  height: 50px;
  width: 146px;
  position: relative;
  color: midnightblue;
  border-right: 2px solid midnightblue;
  border-left: 2px solid midnightblue;
  box-sizing: border-box;
  transition: .5s ease;
  &::before, &::after {
    width: 110%;
    height: 2px;
    position: absolute;
    left: -6px;
    content: "";
    background: midnightblue;
    transition: .5s ease;
  }
  &::before {
    bottom: 4px;
  }
  &::after {
    top: 4px;
  }
  &:hover {
    height: 50px;
    width: 156px;
    &::before, &::after {
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      content: '';
      background: midnightblue;
    }
    &::after {
      top: 0;
    }
    &::before {
      bottom: 0;
    }
  }
  &:active {
    color: white;
    background: midnightblue;
  }
}

.p-middle-bar-btn {
  height: 50px;
  width: 150px;
  position: relative;
  border: 2px solid midnightblue;
  box-sizing: border-box;
  &::before {
    width: 10px;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: -12px;
    content: "";
    background-color: white;
    box-sizing: border-box;
    transition: .8s linear;
  }
  &:hover {
    margin-left: 0;
    &::before {
      left: 154px;
    }
  }
  &:active {
    color: white;
    background: midnightblue;
  }
}

.p-shadow-btn {
  height: 70px;
  width: 150px;
  background-color: #0060e6;
  border-radius: 10px;
  border-bottom: 4px solid midnightblue;
  color: midnightblue;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  &:active {
    border-bottom: 0;
    border-top: 4px solid transparent;
  }
}

.p-shutter-btn {
  width: 150px;
  height: 50px;
  position: relative;
  color: midnightblue;
  font-weight: bold;
  border-radius: 10px;
  overflow: hidden;
  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    content: '';
    display: block;
    z-index: -1;
    background-color: midnightblue;
    transition: .2s;
    transform: scale(0, 1);
  }
  &:hover {
    color: white;
    &::before {
      transform: scale(1, 1);
    }
  }
}

.p-camera-btn {
  width: 150px;
  height: 50px;
  position: relative;
  color: midnightblue;
  font-weight: bold;
  border: 2px solid midnightblue;
  box-sizing: border-box;
  transition: .2s;
  overflow: hidden; // はみ出た平行四辺形をhiddenする
  &::before {
    width: 120%; // ベースの四角を覆えればいい大きさ
    height: 100%;
    position: absolute;
    top: 0;
    left: -10%;
    z-index: -1;
    content: '';
    background: midnightblue;
    transform: skewX(-30deg) scale(0, 1); // 傾き。scaleはノルム
    transition: transform .2s;
  }
  &:hover {
    color: white;
    &::before {
      transform: skewX(-30deg) scale(1, 1);
    }
  }
}

.p-btn--camera2 {
  width: 150px;
  height: 50px;
  position: relative;
  color: white;
  font-weight: bold;
  transition: .2s;
  overflow: hidden; // はみ出た平行四辺形をhiddenする
  &::before { // 平行四辺形を乗せているだけ。
    width: 120%; // ベースの四角を覆えればいい大きさ
    height: 100%;
    position: absolute;
    top: 0;
    left: -10%;
    z-index: -1;
    content: '';
    background-color: midnightblue;
    transform: skewX(30deg) scale(1, 1); // 傾き。scaleはノルム
    transition: transform .2s;
  }
  &:hover {
    color: midnightblue;
    &::before {
      transform: skewX(30deg) scale(0, 1);
    }
  }
}

.p-btn--camera3 {
  width: 150px;
  height: 50px;
  position: relative;
  color: midnightblue;
  font-weight: bold;
  transition: .2s;
  overflow: hidden; // はみ出た平行四辺形をhiddenする
  &::before, &::after {
    width: 120%; // ベースの四角を覆えればいい大きさ
    height: 100%;
    position: absolute;
    z-index: -1;
    content: '';
    background-color: midnightblue;
    transform: skewX(-30deg) scale(0, 1); // 傾き。scaleはノルム
    transition: transform .2s;
  }
  &::before {
    top: 0;
    left: -20%;
    transform-origin: left;
  }
  &::after {
    top: 0;
    right: -20%;
    transform-origin: right;
  }
  &:hover {
    color: white;
    &::before, &::after  {
      transform: skewX(-120deg) scale(0.7, 1);
    }
  }
}
