.p-btn__mdl {
  height: 50px;
  width: 150px;
  position: relative;
  color: midnightblue;
  &::before {
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 4px;
    content: "";
    background: midnightblue;
    transition: .5s ease;
  }
  &::after {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 4px;
    content: "";
    background: midnightblue;
    transition: .5s ease;
  }
  &:hover {
    &::after {
      width: 100%;
      height: 2px;
      position: absolute;
      top: 0;
      content: "";
      background: midnightblue;
    }
    &::before {
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0;
      content: "";
      background: midnightblue;
    }
  }
  &:active {
    color: white;
    background: midnightblue;
  }
}

.p-btn_sml {
  height: 50px;
  width: 50px;
  color: midnightblue;
  border: 2px solid midnightblue;
  box-sizing: border-box;
  transition: 1s ease;
  &:hover {
    border-radius: 25px;
  }
}

.p-btn_top {
  height: 50px;
  width: 50px;
  position: relative;
  color: midnightblue;
  transition: 1s ease;
  border-top: 2px solid midnightblue;
  border-bottom: 2px solid midnightblue;
  box-sizing: border-box;
  transition: .5s ease;
  &::before {
    width: 2px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-color: midnightblue;
    transition: .5s ease;
  }
  &::after {
    width: 2px;
    height: 48px;
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    background-color: midnightblue;
    transition: .5s ease;
  }
  &:hover {
    padding-top: 15px;
    border-top: 0 solid white;
    &::before {
      width: 2px;
      height: 48px;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      background-color: midnightblue;
      transform: rotate(30deg);
      transform-origin: bottom;
      transition: .5s ease;
    }
    &::after {
      width: 2px;
      height: 48px;
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      background-color: midnightblue;
      transform: rotate(-30deg);
      transform-origin: bottom;
      transition: .5s ease;
    }
  }
}
