.p-image-box {
  position: relative;
  height: 200px;
  width: 300px;
  margin: 20px auto;
  padding: 8px;
  background-color: midnightblue;
  &__inner-line {
    height: 100%;
    border: 1px dashed white;
  }
  &__text {
    width: 90%;
    display: block;
    color: white;
    border-bottom: 5px solid rgb(56, 56 ,255);
  }
  &__img__outer {
    height: 100px;
    width: 150px;
    position: relative;
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    & > img {
      height: 100%;
      border-radius: 20px;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.p-btn--bgimage {
  width: 200px;
  height: 170px;
  display: block;
  position: relative;
  background-image: url('/static/img/flower.313ff7e.jpg');
  background-size: cover;
  transition-duration: .3s;
  transition-timing-function:ease-out;
  &:hover {
    opacity: 0.7;
  }
}

.p-btn--bgimage:before {
  width: 100px;
  height: 30px;
  position: absolute;
  content: 'test';
  top: 20px;
  right: -10px;
  background-color: rgba(0,0,0,0.3);
  color: white;
}

.p-btn--tagImage {
  width: 200px;
  height: 170px;
  position: relative;
  background-color: #87cefa;
  color: white;
  transition-duration: .3s;
  transition-timing-function:ease-out;
  &:hover {
    opacity: 0.8;
  }
  &::before {
    width: 100px;
    height: 80px;
    display: block;
    position: absolute;
    content: '';
    bottom: -10px;
    right: -10px;
    background-image: url('/static/img/flower.313ff7e.jpg');
    background-size: cover;
  }
}
