.p-image-box {
  position: relative;
  height: 200px;
  width: 300px;
  margin: 20px auto;
  padding: 8px;
  background-color: $midnight;
  &__line {
    height: 100%;
    border: 1px dashed white;
  }
  &__text {
    display: inline;
    color: white;
    border-bottom: 5px solid rgb(56, 56 ,255);
  }
  &__img {
    height: 100px;
    width: 150px;
    position: relative;
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    & > img {
      height: 100%;
      border-radius: 20px;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}
