.p-rain {
  width: 150px;
  height: 100px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &__cloud {
    width: 50px;
    height: 50px;
    position: absolute;
    content: '';
    top: 0;
    left: calc(50% - 25px);
    background-image: url('../assets/cloud.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #fff;
    z-index: 1;
  }
  &__drop {
    width: 1px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 0;
    content: '';
    background-color: #ccc;
    box-shadow: 0 0 1px #ddd;
    transform: translateY(0);
    background-color: #ccc;
    transition-property: transform, opacity;
    z-index: 0
  }
  &__surface {
    width: 50px;
    height: 50px;
    position: absolute;
    left: calc(50% - 25px);
    bottom: -10px;
    content: '';
    border: 1px solid #ccc;
    box-shadow: 0 0 1px #ddd;
    border-radius: 50%;
    transform: rotateX(80deg) scale(0, 0);
  }
  &:hover &{
    &__drop {
      animation-name: rainDrop;
      animation-duration: .2s;
      animation-fill-mode: both;
      animation-timing-function: ease-in;
      animation-iteration-count: 1;
    }
    &__surface {
      animation-name: rainSurface;
      animation-duration: .3s;
      animation-fill-mode: both;
      animation-timing-function: ease-in;
      animation-iteration-count: 1;
    }
  }
}

@keyframes rainDrop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}


@keyframes rainSurface {
  0% {
    transform: rotateX(80deg) scale(0, 0);
    opacity: 1;
  }
  100% {
    transform: rotateX(80deg) scale(5, 5);

    opacity: 0;
  }
}
