.p-square-box {
  width: 40%;
  position: relative;
  margin: 5%;
  &--bg {
    background-color: #eee;
  }
  &--frame {
    box-sizing: border-box;
    border: 1px solid #eee;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &-wrap {
      width: 100%;
      padding-top: 100%;
    }
    & > * {
      width: 100%;
    }
  }
}
