.star {
  position: relative;
  width: 74px;
  margin-top: 45px;
  box-sizing: content-box;
  border-width: 69px 23px 0;
  border-style: solid;
  border-color: midnightblue transparent;
  &::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -111px;
    left: -22px;
    border-width: 0 59px 42px;
    border-style: solid;
    border-color: transparent transparent midnightblue;
  }
  &::after {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    border-bottom: 10px solid white;
    border-top: 10px solid transparent;
    border-left: 37px solid transparent;
    border-right: 37px solid transparent;
  }
  &__1 {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    &::before {
      width: 0;
      height: 0;
      position: absolute;
      bottom: 72px;
      left: 24px;
      content: '';
      border-bottom: 10px solid transparent;
      border-top: 10px solid white;
      border-left: 37px solid transparent;
      border-right: 37px solid transparent;
      transform: rotate(36deg);
    }
    &::after {
      width: 0;
      height: 0;
      position: absolute;
      bottom: -10px;
      left: -10px;
      content: '';
      border-bottom: 10px solid transparent;
      border-top: 10px solid white;
      border-left: 37px solid transparent;
      border-right: 37px solid transparent;
      transform-origin: right;
      transform: rotate(108deg);
    }
  }
  &__2 {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    &::before {
      width: 0;
      height: 0;
      position: absolute;
      bottom: 72px;
      left: -24px;
      content: '';
      border-bottom: 10px solid white;
      border-top: 10px solid transparent;
      border-left: 37px solid transparent;
      border-right: 37px solid transparent;
      transform: rotate(144deg);
    }
    &::after {
      width: 0;
      height: 0;
      position: absolute;
      bottom: -10px;
      left: -64px;
      content: '';
      border-bottom: 10px solid white;
      border-top: 10px solid transparent;
      border-left: 37px solid transparent;
      border-right: 37px solid transparent;
      transform-origin: right;
      transform: rotate(72deg);
    }
  }
}
